.header {
    display: flex;
    background: rgb(139, 208, 250);
    background: linear-gradient(90deg, rgba(139, 208, 250, 1) 0%, rgba(189, 222, 245, 1) 100%);

    .logo {
        margin: 6px;
        cursor: pointer;

        img {
            width: 60px;
            display: block;
        }
    }

    .title {
        display: flex;
        width: 30%;
        align-items: center;
        justify-content: center;
    }

    .rate-block {
        display: flex;
        justify-content: center;
        width: 100%;

        .curr-rate {
            display: flex;
            align-items: center;
            margin: 20px;
        }
    }
}